@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

div
{
max-width: 1800px;
width: 100%;
text-align: center;
}

.topnav {
    background-color: wheat;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: rgb(177, 109, 120);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: lightpink;
    color: rgb(39, 141, 39);;
  }
  
 

h1
{
max-width: 1800px;
width: 100%;
text-align: center;
background-color: lavender;
color: lightgreen;
}

body
{
  background-color: white;
  color: black;
  font-family: 'Arimo', sans-serif;
}

a:visited
{
 color:  black;
}
a:link {
  color: black;
}


a:hover {
  color: blue;
}

a:active {
  color: lightblue;
} 






